<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópico</title>
</head>

<body>
    {% extends "learning_logs/base.html" %}
    {%block header%}
    <h3>{{topic}}</h3>
    <br>
    {% endblock header%}
    {%block content%}


    <h4 class="mb-4"><a href="{% url 'new_entry' topic.id %}">Adicionar uma nova anotação</a></h4>



    {%for entry in entries%}
    <div class="list-group list-group-numbered">
        <div class="list-group-item">
            <h4 class="d-flex justify-content-between">{{entry.date_added | date:'M d, Y H:i'}}
                <small class=""><a href="{% url 'edit_entry' entry.id %}">Editar
                        anotação</a></small>

            </h4>

        </div>

        <div class="list-group-item mb-4">
            <h6>{{entry.text | linebreaks}}</h6>
        </div>


    </div>
    {%empty%}

    Não há registros.

    {%endfor%}

    {%endblock content%}
</body>

</html>